.Titulo{
    color:rgb(50,167,126);
    font-size: 14px;

}
.Icon{
    font-size:10px;
}

.Icon svg{
    margin-top:-6px;
}

.StoreButtonRow{
    width:100%;
    float: left;
    margin-top: 10px;
    text-align:right;
}
