.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 50%;
    left:50%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    
}


@media (min-width: 768px) {
    .Modal{
        width:45%;
    }
}