//gerais
.TextAlignCenter{
    text-align: center;
}

.FloatLeft{
    float: left;
}
//Espaço entre os cards contactos e os cards criar novo e filtro
.LineSeparator{
    width: 100%;
    float: left;
    height: 20px;
}

//Colors and bg
.GreenBg{
    background: rgb(50,167,126);
    background: linear-gradient(146deg, rgba(50,167,126,1) 13%, rgba(34,194,138,1) 14%);
}

.WhiteBg{
    background-color: #fff;
}
.WhiteCl{
    color:white;
}
.GreenCl{
    color:rgb(50,167,126);
}
// Font weight
.Bold{
    font-weight: 600;
}
//Cards
.SmallCard, .MediumCard, .LargeCard, .ExtraSmallCard{
    width:100%;
    padding: 5px 8px;
    float:left;
    border-radius: 8px;
    margin-bottom: 4px;
}
.ExtraSmallCard{
    width: 48%;
    margin-right:2%;
}




@media (min-width:768px) {
    .ExtraSmallCard{
        width: 23%;
        margin-right: 2%;
    }
    .ExtraSmallCard:nth-child(4n){
        margin-right: 0;
    }
    .SmallCard{
        width:32%;
    }
    .MediumCard{
        width:66%;
    }


    .Ml{
        margin-left: 2%;
    }
    .Mr{
        margin-right: 2%;
    }


    
    
}

//Buttons
.ExtraSmallBtn{
    width: 15%;
    padding: 4px !important;
    font-size: 12px !important;
}
.SmallBtn{
    width:30%;
}
.MediumBtn{
    width:50%;
}

.BtnFiltro{
    margin-top: 17px!important;
    font-size: 12.8px;
}

.BtnGrey:hover{
    background-color: rgb(238, 238, 238);
    transition: ease-in 0.3s;
}
.BtnGreen:hover{
    background: rgba(50,167,126,0.8);
    background: linear-gradient(146deg, rgba(50,167,126,0.8) 15%, rgba(34,194,138,0.8) 17%);
    transition: ease-in-out 1s;
}
//Adiciona margin-bottom ao botao novo contacto
.BtnNovomb{
    margin-bottom: 21px!important;
}

//Icons
.Icon{
    margin: 5px 0;
}
.Icon svg{
    height: 35px;
    width: 80px;
    color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}

//
.NrContactos{
    font-family: 'Roboto',sans-serif;
    font-size: 45px;
    font-weight: 700;
    color:#22C28A;
    text-align: center;
}

.Titulo{
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 3px;
}

.SimpleText{
    margin: 0;
    font-size: 12px;
}
.SemMargem{
    margin:0;
}
//Div Filtro
.Separador{
    border-top: 1px solid #22C28A;
    margin-top:4px;
    margin-bottom: 0;
    padding-top: 6px;
}

//Inputs
.SmallInput{
    width: 33%;
    float: left;
}

.MediumInput{
    width:50%;
    float: left;
}

//Contactos
.Contacts{
    margin-top:10px;
}
//Card detalhes do contacto
.ContactDetails{
    font-size: 12px;
}
.ContactDetails img{
    border-radius: 50%;
}

.ContactDetailsBody{
    width:85%;
    margin: 0 auto;
    margin-bottom: 6px;
}
.ContactDetailsFooter{
    width:80%;
    background: #E4F7F1;
    padding: 4px 10px;
    margin-right: 4%;
}

.LeftBorder{
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 25.5px;
    background: #22C28A;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}