.ContactDetails{
    padding: 10px;
}

.ContactDetails img{
    height: 50px;
    border-radius: 50%;
}
.ContactDetailsBody{
    margin-top:15px!important;
}
.ContactDetailsBody p{
    margin-bottom:4px;
}

.ContactDetailsFooter{
    text-align: right;
}

.ContactDetailsFooter svg{
    font-size: 14px;
}
.Icon{
    margin-right: 12px;
}

.AlignCenter{
    text-align: center;
}
.GreyCl{
    color:#ACACAD;
}