.Titulo{
    font-size:1.125rem;
}


@media (max-width:991px){
    .Banner{
        margin-bottom: 20px;
    }
    .Banner img{
        width: 30%;
        height: auto;
    }
}
@media (max-width: 471px){
    .Banner{
        font-size: 2vw;
    }
    .Titulo{
        font-size: 3vw;
    }
}
